[
  {
    "relation": ["delegate_permission/common.handle_all_urls"],
    "target": {
      "namespace": "android_app",
      "package_name": "com.bwpexperts.billing",
      "sha256_cert_fingerprints": [
        "REPLACE_WITH_SHA256_OF_YOUR_UPLOAD_KEY",
        "REPLACE_WITH_SHA256_OF_THE_GOOGLE_PLAY_APP_SIGNING_KEY"
      ]
    }
  }
]
